@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

:root{
    --background-color:#eaf1ff;
    --background-color-in-darkmode:#1f1f1f;
    --slider-left-bg-color:#ffffff;
    --slider-left-bg-color-darkmode:#2a2a2a;
    --color-of-text:#1b2236;
    --color-of-text-on-darkmode:#e2edfe;
    --font-family: rakkas;
}

html{
    color: var(--color-of-text);
    font-family: var(--font-family);
    font-size: 1.75rem;
    overflow-y: hidden;
}

.body{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    background: var(--background-color);
    width: 100%;
}

.Right-slider{
    flex-grow: 9;
}

.Left-Slider{
    position: relative;
    background: var(--slider-left-bg-color);
    flex-grow: 1;
    flex-basis: 325px;
    margin-left: -2.1%;
    margin-top: -2.1%;
    padding-left: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.569);
    margin-right: 1%;
}

.Left-Slider .Logo img{
    width: 150px;
    margin-left: 3%;
    margin-bottom: 40%;
}

.Left-Slider .Logo .Logo-Text{
    position: absolute;
    top: 2%;
    right: 10%;
    font-size: xx-large;
    font-weight: bold;
}   

.Icons-list ul{
    padding: 0;
    margin: 0;
    width: 100%;
}

.Icons-list ul li {
    transition: all 0.3s ease;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5%;
    position: relative;
}

.Icons-list ul li:hover{
    background-color: #0c98fd;
}

.Icons-list ul li:hover a{
    color: white;
}

.Icons-list ul li:hover a .svg svg{
    fill: white;
}
.Icons-list ul li a{
    margin-left: 19%;
    font-weight: bolder;
}
.Icons-list ul li a .svg {
    display: inline-block;
    position: absolute;
    left: 1%;
    top: 20%;
}
.Icons-list ul li a .svg svg{
    height: 40px;
    width: 40px;
}

.Right-slider .top{
    justify-self: right;
    margin-right: 2%;
}

.Right-slider .top ul{
    display: flex;
    gap: 2em;
    align-items: center;
}

.Right-slider .top ul li{
    list-style: none;
}

.Right-slider .top ul button{
    padding: 5px 20px;
}

.Right-slider .center{
    position: relative;
    margin-top: 5%;
    text-align: left;
    justify-content: center;
    height: 400px;
    padding-top:2% ;
}

.Right-slider .center .image-center{
    position: absolute;
    width: 350px;
    right: 10%;
    top: -2%;
}

.cards{
    display: flex;
    gap: 1em;
    margin-top: 2%;
    width: 1400px;
    flex-wrap: wrap;
    padding-left: 2%;
    margin-left: 3%;
    margin-bottom: 10%;
}

.cardss{
    padding: 2%;
    padding-top: 0;
    width: 300px;
    height: 250px;
    border-radius: .3rem;
}

.Courses{
    margin-top: -7%;
}

@media (max-width:1081px){
    .cards{
        gap: 2em;
        margin-top: 2%;
        width: 600px;
        height: 300px;
        flex-wrap: nowrap;
        overflow-y: auto;
        scroll-behavior: smooth;
        font-size: 15px;
        align-items: center;
    }
    
    .cardss{
        flex-grow: 0;
        width: 100%;
        height: 250px;
        /* scale: .5; */
        font-size: 15px;
    }

    .Courses{
        margin-top: -3%;
    }

    .Right-slider .center .image-center{
        width: 250px;
        right: -.5%;
    }
}

@media (max-width:1025px){
    .Left-Slider{
        max-width: 210px;
        height: 1400px;
    }
    .Left-Slider .Logo .Icon-Image{
        margin-left: 4%;
        margin-bottom: 30%;
    }
    .Left-Slider .Logo .Logo-Text{
        display: none;
    }
    .cards{
        flex-wrap: wrap;
        position: relative;
        scroll-snap-align: start;
    }
    .cardss{
        height: 300px;
        position: relative;
    }
    .cardss img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: absolute;
        right: 4%;
        top: 15%;
        background-color: #0c98fd;
    }
}

@media (max-width:821px){
    .Left-Slider{
        width: 10px;
        height: 90vh;
    }
    
    .Left-Slider .Logo img{
        display: none;
    }
    
    .Left-Slider .Icons-list ul li a span{
        display: none;
    }
    
    .Left-Slider .Icons-list{
        margin-top: 200px;
    }
    
    .Icons-list ul li {
        width: 100%;
    }

    .cards{
        width: 500px;
    }
    
    .cardss{
        flex-grow: 0;
        width: 100%;
    }
    
    .Right-slider .center .image-center{
        right: 20%;
        top: 50%;
    }
}

@media (max-width:481px){
    html{
        font-size: 1rem;
    }

    .body{
        flex-direction: column;
        overflow-y: auto;
        height: 100vh;
    }

    .Left-Slider{
        display: none;
    }

    .Right-slider .center{
        margin-left: 0%;
        text-align: center;
        padding-top: 200px;
    } 
    
    .Right-slider .center .image-center{
        width: 200px;
        margin: 0 auto;
        margin-right: 5%;
        top: 5%;
    }

    .cards{
        margin:auto;
        width: 98%;
        margin-left: 0;
        padding-left: 0;
        justify-content: center;
        height: 200px;
    }

    .cardss{
        height: 200px;
    }
} 